@import "tailwindcss";


body{
  font-family: 'Quicksand', sans-serif;
}
@theme {
  --animation-fade-in: fadeIn 0.8s ease-out;
  --animation-slide-in-left: slideInLeft 0.8s ease-out;
  --animation-slide-in-right: slideInRight 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
